<div class="main-page-wrapper" xmlns="http://www.w3.org/1999/html">
 <!-- Header _________________________________ -->
 <div class="header" role="banner">
   <img
     width="52"
     alt="Header Logo"
     src="assets/Header.jpg"
   />
   <span style="text-indent:1em;">Welcome To our Petstore!</span>
   <div class="spacer"></div>
 </div>

 <div class="content">
   <div id="denglu">
     <img src="assets/R.jpg">
     <span style="text-indent:2em;"><a href="#">Pet</a></span>
     <span style="text-indent:2em;"><a href="#">Store</a></span>
     <span style="text-indent:2em;"><a href="#">User</a></span>
   </div>
 </div>

  <div class="Background" >
    <div style="position: relative">
     <img src="assets/Background.jpg">
     <div style="position: absolute; z-index:2; top:20%; left: 30% ">
       <h1 class="wow fadeInUp animated" id="InnerWord1">Love your Pet, Care Pet</h1>
       <span class="wow fadeInUp animated" id="InnerWord2"> With over 5  years of Experience </span>
       <p class="wow fadeInUp animated" id="InnerWord3">Best pet advice for you and Pet Care services</p>
       <a href="#" class="tran3s wow fadeInRight animated banner-button-right" id="InnerWord4">Get Your Pet</a>
     </div>
    </div>
  </div>

  <div class="PetShow">
    <br/>
    <br/>
    <br/>
    <div style="border: 1px solid gray;width:200px;height:0;text-align: center;"></div>
    <div class="PetSearch">
      <h2>Choose your Pet</h2>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing.<br>
        Lorem ipsum dolor sit amet consectetur adipisicing.</span>
      <img src="assets/Pet.jpg" alt="Pet">
    </div>
  </div>


  <div class="PetUpload">
    <br/>
    <br/>
    <br/>
    <div style="border: 1px solid gray;width:200px;height:0;text-align: center;"></div>
    <div class="PetUp">
      <h2>Upload Your Pet</h2>
      <form id="addNewPetForm">
        <label>pet name:</label>
        <input type="text" id="nameInput">
        <input type="submit" value="submit">
        <span id="messageBox">
            </span>
      </form>
      <input type="text" id="idInput">
      <button onclick="getPetById()">get pet by id</button>
    </div>
  </div>


  <!-- Footer _________________________________ -->
  <div class="footer" role="banner">
    <span style="text-indent:1em;">Expect Your Suggestions!</span>
    <div class="spacer"></div>
  </div>
</div>
